Source: nova
Section: net
Priority: extra
Maintainer: Soren Hansen <soren@ubuntu.com>
Build-Depends: debhelper (>= 7.0.50),
 python-m2crypto,
 python-all
Build-Depends-Indep:python-support,
 python-setuptools,
 python-sphinx,
 python-distutils-extra,
 python-twisted-web,
 python-gflags,
 python-mox,
 openssl,
 python-carrot,
 python-boto,
 python-amqplib,
 python-ipy,
 openssh-client,
 python-sqlalchemy-ext | python-sqlalchemy (<< 0.6.3-2),
 python-eventlet,
 python-routes,
 python-webob,
 python-cheetah,
 python-nose,
 python-paste,
 python-pastedeploy,
 python-tempita,
 python-migrate,
 python-netaddr,
 python-glance,
 python-paramiko,
 python-novaclient,
 python-multiprocessing,
 pep8
Standards-Version: 3.9.1
Homepage: http://launchpad.net/nova
Vcs-Browser: http://bazaar.launchpad.net/~openstack-ubuntu-packagers/ubuntu/natty/nova/ubuntu/files
Vcs-Bzr: http://bazaar.launchpad.net/~openstack-ubuntu-packagers/ubuntu/natty/nova/ubuntu/


Package: python-nova
Architecture: all
Section: python
Depends: ${python:Depends},
 python-ipy,
 python-boto,
 python-m2crypto,
 python-pycurl,
 python-twisted-core,
 python-twisted-web,
 python-daemon,
 python-carrot,
 python-lockfile,
 python-gflags,
 openssl,
 python-libxml2,
 python-ldap,
 python-sqlalchemy-ext | python-sqlalchemy (<< 0.6.3-2),
 python-eventlet,
 python-routes,
 python-webob,
 python-cheetah,
 python-netaddr,
 python-paste,
 python-pastedeploy,
 python-tempita,
 python-migrate,
 python-netaddr,
 python-glance,
 python-novaclient,
 python-multiprocessing,
 sudo,
 ${misc:Depends}
XB-Python-Version: ${python:Versions}
Recommends: python-mysqldb
Provides: ${python:Provides}
Description: OpenStack Compute - Nova - Python libraries
 OpenStack is free, open source software for building reliable cloud
 infrastructure.
 .
 The OpenStack mission is to produce the ubiquitous Open Source cloud
 computing platform that will meet the needs of public and private cloud
 providers regardless of size, by being simple to implement and
 massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric
 controller. In addition to its "native", open API (the OpenStack API),
 it also supports the Amazon EC2 API.
 .
 Nova is intended to be modular and easy to extend and adapt. It
 supports many different hypervisors (KVM and Xen to name a few),
 different database backends (SQLite, MySQL, and PostgreSQL, for
 instance), different types of user databases (LDAP or SQL), etc.
 .
 This package contains the core Python parts of Nova.

Package: python-nova.adminclient
Architecture: all
Section: python
Depends: ${python:Depends},
 python-boto,
 ${misc:Depends}
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: OpenStack Compute - Nova - Python adminclient library
 OpenStack is free, open source software for building reliable cloud
 infrastructure.
 .
 The OpenStack mission is to produce the ubiquitous Open Source cloud
 computing platform that will meet the needs of public and private cloud
 providers regardless of size, by being simple to implement and
 massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric
 controller. In addition to its "native", open API (the OpenStack API),
 it also supports the Amazon EC2 API.
 .
 Nova is intended to be modular and easy to extend and adapt. It
 supports many different hypervisors (KVM and Xen to name a few),
 different database backends (SQLite, MySQL, and PostgreSQL, for
 instance), different types of user databases (LDAP or SQL), etc.
 .
 This package contains the Python nova.adminclient library, for use by
 client administration tools.

Package: nova-common
Architecture: all
Depends: python-nova (= ${binary:Version}), ${python:Depends}, ${misc:Depends}, adduser
Provides: ${python:Provides}
Description: OpenStack Compute - Nova - common files
 OpenStack is free, open source software for building reliable cloud
 infrastructure.
 .
 The OpenStack mission is to produce the ubiquitous Open Source cloud
 computing platform that will meet the needs of public and private cloud
 providers regardless of size, by being simple to implement and
 massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric
 controller. In addition to its "native", open API (the OpenStack API),
 it also supports the Amazon EC2 API.
 .
 Nova is intended to be modular and easy to extend and adapt. It
 supports many different hypervisors (KVM and Xen to name a few),
 different database backends (SQLite, MySQL, and PostgreSQL, for
 instance), different types of user databases (LDAP or SQL), etc.
 .
 This package contains things that are needed by all parts of Nova.

Package: nova-compute
Architecture: all
Depends: nova-common (= ${binary:Version}), kpartx, kvm, python-libvirt, libvirt-bin (>= 0.8.1), curl, parted, aoetools,
 ebtables, gawk, iptables, ${python:Depends}, ${misc:Depends}
Description: OpenStack Compute - Nova - compute node
 OpenStack is free, open source software for building reliable cloud
 infrastructure.
 .
 The OpenStack mission is to produce the ubiquitous Open Source cloud
 computing platform that will meet the needs of public and private cloud
 providers regardless of size, by being simple to implement and
 massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric
 controller. In addition to its "native", open API (the OpenStack API),
 it also supports the Amazon EC2 API.
 .
 Nova is intended to be modular and easy to extend and adapt. It
 supports many different hypervisors (KVM and Xen to name a few),
 different database backends (SQLite, MySQL, and PostgreSQL, for
 instance), different types of user databases (LDAP or SQL), etc.
 .
 This is the package you will install on the nodes that will run your
 virtual machines.

Package: nova-scheduler
Architecture: all
Depends: nova-common (= ${binary:Version}), ${python:Depends}, ${misc:Depends}
Description: OpenStack Compute - Nova - Scheduler
 OpenStack is free, open source software for building reliable cloud
 infrastructure.
 .
 The OpenStack mission is to produce the ubiquitous Open Source cloud
 computing platform that will meet the needs of public and private cloud
 providers regardless of size, by being simple to implement and
 massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric
 controller. In addition to its "native", open API (the OpenStack API),
 it also supports the Amazon EC2 API.
 .
 Nova is intended to be modular and easy to extend and adapt. It
 supports many different hypervisors (KVM and Xen to name a few),
 different database backends (SQLite, MySQL, and PostgreSQL, for
 instance), different types of user databases (LDAP or SQL), etc.
 .
 This is the Nova scheduler.


Package: nova-volume
Architecture: all
Depends: nova-common (= ${binary:Version}), vblade, vblade-persist, lvm2, aoetools, open-iscsi, iscsitarget, ${python:Depends}, ${misc:Depends}
Suggests: sheepdog
Description: OpenStack Compute - Nova - storage
 OpenStack is free, open source software for building reliable cloud
 infrastructure.
 .
 The OpenStack mission is to produce the ubiquitous Open Source cloud
 computing platform that will meet the needs of public and private cloud
 providers regardless of size, by being simple to implement and
 massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric
 controller. In addition to its "native", open API (the OpenStack API),
 it also supports the Amazon EC2 API.
 .
 Nova is intended to be modular and easy to extend and adapt. It
 supports many different hypervisors (KVM and Xen to name a few),
 different database backends (SQLite, MySQL, and PostgreSQL, for
 instance), different types of user databases (LDAP or SQL), etc.
 .
 This is the package you will install on your storage nodes.

Package: nova-api
Architecture: all
Depends: nova-common (= ${binary:Version}), ${python:Depends}, ${misc:Depends}
Description: OpenStack Compute - Nova - API frontend
 OpenStack is free, open source software for building reliable cloud
 infrastructure.
 .
 The OpenStack mission is to produce the ubiquitous Open Source cloud
 computing platform that will meet the needs of public and private cloud
 providers regardless of size, by being simple to implement and
 massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric
 controller. In addition to its "native", open API (the OpenStack API),
 it also supports the Amazon EC2 API.
 .
 Nova is intended to be modular and easy to extend and adapt. It
 supports many different hypervisors (KVM and Xen to name a few),
 different database backends (SQLite, MySQL, and PostgreSQL, for
 instance), different types of user databases (LDAP or SQL), etc.
 .
 This package provides the API frontend.

Package: nova-network
Architecture: all
Depends: socat, vlan, nova-common (= ${binary:Version}), ${python:Depends}, ${misc:Depends}
Suggests: radvd
Description: OpenStack Compute - Nova - Network thingamajig
 OpenStack is free, open source software for building reliable cloud
 infrastructure.
 .
 The OpenStack mission is to produce the ubiquitous Open Source cloud
 computing platform that will meet the needs of public and private cloud
 providers regardless of size, by being simple to implement and
 massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric
 controller. In addition to its "native", open API (the OpenStack API),
 it also supports the Amazon EC2 API.
 .
 Nova is intended to be modular and easy to extend and adapt. It
 supports many different hypervisors (KVM and Xen to name a few),
 different database backends (SQLite, MySQL, and PostgreSQL, for
 instance), different types of user databases (LDAP or SQL), etc.
 .
 This is the package you will install on the network nodes.
 It hands out IP's and in some cases acts as a gateway.

Package: nova-objectstore
Architecture: all
Depends: nova-common (= ${binary:Version}), ${python:Depends}, ${misc:Depends}
Description: OpenStack Compute - Nova - object store
 OpenStack is free, open source software for building reliable cloud
 infrastructure.
 .
 The OpenStack mission is to produce the ubiquitous Open Source cloud
 computing platform that will meet the needs of public and private cloud
 providers regardless of size, by being simple to implement and
 massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric
 controller. In addition to its "native", open API (the OpenStack API),
 it also supports the Amazon EC2 API.
 .
 Nova is intended to be modular and easy to extend and adapt. It
 supports many different hypervisors (KVM and Xen to name a few),
 different database backends (SQLite, MySQL, and PostgreSQL, for
 instance), different types of user databases (LDAP or SQL), etc.
 .
 This is the package contains a very simple S3-like object store.
 For production use, you should use OpenStack Storage, aka. Swift.

Package: nova-instancemonitor
Architecture: all
Depends: python-rrdtool, nova-common (= ${binary:Version}), ${python:Depends}, ${misc:Depends}
Description: Nova instance monitor
 OpenStack is free, open source software for building reliable cloud
 infrastructure.
 .
 The OpenStack mission is to produce the ubiquitous Open Source cloud
 computing platform that will meet the needs of public and private cloud
 providers regardless of size, by being simple to implement and
 massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric
 controller. In addition to its "native", open API (the OpenStack API),
 it also supports the Amazon EC2 API.
 .
 Nova is intended to be modular and easy to extend and adapt. It
 supports many different hypervisors (KVM and Xen to name a few),
 different database backends (SQLite, MySQL, and PostgreSQL, for
 instance), different types of user databases (LDAP or SQL), etc.
 .
 This package contains the Instance Monitor for Nova.

Package: nova-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Description: OpenStack Compute - Nova - documetation
 OpenStack is free, open source software for building reliable cloud
 infrastructure.
 .
 The OpenStack mission is to produce the ubiquitous Open Source cloud
 computing platform that will meet the needs of public and private cloud
 providers regardless of size, by being simple to implement and
 massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric
 controller. In addition to its "native", open API (the OpenStack API),
 it also supports the Amazon EC2 API.
 .
 Nova is intended to be modular and easy to extend and adapt. It
 supports many different hypervisors (KVM and Xen to name a few),
 different database backends (SQLite, MySQL, and PostgreSQL, for
 instance), different types of user databases (LDAP or SQL), etc.
 .
 This package contains the documentation for Nova.

